.practise {
    // background-color: #A8A8A8;
    background-image: url('https://images.pexels.com/photos/6683578/pexels-photo-6683578.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    font-size: 1.6rem;
    position: relative;

    .faked-opacity {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        // opacity: 0.75;
    }

    .header {
        width: 100%;
        min-height: 11.4rem;
        padding: 2rem 0rem;
        // background-color: darksalmon;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .navbar {
            width: 100%;
            max-width: 120rem;
            height: 100%;
            // background-color: #435faa;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }

    .main {
        width: 100%;
        min-height: 1rem;
        // border-bottom: 1px solid black;
        background-color: #d9d9d9b4;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .main-header {
            width: 100%;
            min-height: 6rem;
            background-color: #DAEEEF;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;

            .text {
                text-align: center;
            }
        }

        .content {
            width: 100%;
            max-width: 80rem;
            // width: 120rem;
            height: 100%;
            // border: 1px solid red;

            .row {
                display: flex;
                justify-content: space-between;
                font-size: 2.5rem;
                width: 100%;

                .cell {
                    // border: 1px solid blue;
                    text-align: center;
                    margin: 1rem 0;

                    .input-text {
                        font-size: 2.5rem;
                        width: 10rem;
                        text-align: center;
                    }

                    .green {
                        background-color: green;
                    }

                    .red {
                        background-color: red;
                    }
                }

                .group {
                    width: 100%;
                }
            }

            .header {
                border-bottom: 1px solid black;
            }

            .answer {
                width: 100%;
                text-align: center;
                font-size: 2.5rem;
                margin: 2rem 0;
                // border-bottom: 1px solid black;
            }

            .answer-hidden {
                color: rgba(255, 255, 255, 0);
                // visibility: hidden;
            }
        }
    }

    .footer {
        // margin-top: 5rem;
        padding-top: 5rem;
        padding-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #d9d9d9b4;

        .content-info {
            width: 100%;
            max-width: 50rem;
            display: flex;
            justify-content: space-between;
        }

        .content {
            width: 100%;
            max-width: 120rem;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            justify-content: center;

            .button {
                width: 23rem;
                height: 6rem;
                font-size: 2.5rem;
                background-color: #A0963B;
                border-radius: 1.5rem;
                margin: 1rem;

                &:hover {
                    background-color: #4b4830;
                    color: white;
                    cursor: pointer;
                }
            }

            .btn-hidden {
                display: none;
                // visibility: hidden;
            }
        }
    }

    .info {
        // color: red;
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .practise {
        .header {
            .navbar {
                flex-direction: column;
            }
        }

        .main {
            .main-header {
                .text {
                    font-size: 1.8rem;
                    text-align: center;
                }
            }

            .content {
                .row {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.8rem;

                    .group {
                        display: flex;
                        justify-content: space-between;
                        padding: 0rem 1rem;
                        width: 25rem;
                    }
                }

                .cell {}

                .cell-plus {
                    padding: 0rem 5rem;
                }

                .answer {
                    font-size: 1.8rem;
                }
            }
        }

        .footer {
            .content-info {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .info {
                    font-size: 1.8rem;
                }
            }
        }
    }
}