.landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('https://images.pexels.com/photos/65567/pexels-photo-65567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .faked-opacity {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        opacity: 0.60;
    }

    .options {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;
        height: 90%;
        opacity: 1.0;
        position: relative;

        .button-main {
            width: 60rem;
            height: 6rem;
            border-radius: 1.5rem;
            background-color: #A0963B;
            opacity: 0.75;
            border: none;
            font-size: 2.5rem;
            text-transform: uppercase;
            // color: rgb(223, 223, 223);

            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.64);
                // color: white;
                opacity: 1.0;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .landing-page {

        .options {

            .button-main {
                width: 32rem;
                height: 4rem;
                font-size: 1.8rem;
            }
        }

    }
}