.prapositionen {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // background-color: #A8A8A8;
    background-image: url('https://images.pexels.com/photos/691710/pexels-photo-691710.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .faked-opacity {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        opacity: 0.60;
    }

    .header {
        width: 100%;
        height: 11.4rem;
        // background-color: darksalmon;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .navbar {
            width: 120rem;
            height: 100%;
            // background-color: #435faa;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0rem 1rem;
        }
    }

    .main {
        width: 100%;
        min-height: 1rem;
        // border-bottom: 1px solid black;
        background-color: #d9d9d9b0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .main-header {
            width: 100%;
            min-height: 6rem;
            background-color: #DAEEEF;
            border-bottom: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;

            .text {
                width: 100%;
                max-width: 120rem;
                display: flex;
                justify-content: space-between;
                padding: 0rem 1rem;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .center {
            width: 100%;
            max-width: 120rem;
            height: 100%;
            // background-color: #7189ca;

            .row {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2rem 0rem;

                .text-25 {
                    font-size: 2.5rem;
                    padding: 1rem;
                }

                .input-field {
                    font-size: 2.5rem;
                    padding: 0.5rem 1rem;
                    width: 10rem;
                }

                .group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // width: 80%;
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
                margin: 2rem 0rem;
                padding: 0rem 1rem;
            }
        }

        .center-hidden {
            display: none;
        }

        .border-btm {
            border-bottom: 1px solid black;
        }
    }

    .radio-mark {
        width: 2.5rem;
        height: 2.5rem;
    }

    .radio-label {
        font-size: 2.5rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .prapositionen {
        .header {
            .navbar {
                justify-content: center;
            }
        }


        .main {

            .main-header {
                font-size: 1.8rem;

                .text {
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .center {
                .row {
                    flex-direction: column;

                    .text-25 {
                        font-size: 1.8rem;
                    }

                    .group {
                        width: 30rem;
                        justify-content: start;
                        font-size: 1.8rem;

                        .radio-label {}
                    }
                }


                .buttons {
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 30rem;
                }
            }
        }

        .radio-mark {
            width: 2.5rem;
            height: 2.5rem;
        }

        .radio-label {
            font-size: 1.8rem;
            padding: 1rem;
        }
    }

}