.button-component {
    color: red;

    .button {
        padding: 1.5rem 2.5rem;
        font-size: 2.5rem;
        border-radius: 1.5rem;
        border: none;
        margin: 0.1rem;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.64);
        }
    }

    .red {
        background-color: red;
        color: white;

        &:hover {
            background-color: rgb(112, 30, 30);
        }
    }

    .yellow {
        background-color: yellow;
        color: white;

        &:hover {
            background-color: rgb(150, 150, 46);
        }
    }

    .green {
        background-color: green;
        color: white;

        &:hover {
            background-color: rgb(19, 56, 19);
        }
    }

    .light-green {
        background-color: lightgreen;

        &:hover {
            background-color: rgb(71, 179, 71);
            color: white;
        }
    }

    .white {
        background-color: white;
        color: white;

        &:hover {
            background-color: rgb(146, 146, 146);
        }
    }

    .brown {
        background-color: brown;
        color: white;

        &:hover {
            background-color: rgb(65, 36, 36);
        }
    }

    .blue {
        background-color: blue;
        color: white;

        &:hover {
            background-color: rgb(0, 0, 121);
        }
    }

    .light-blue {
        background-color: lightblue;
        color: black;

        &:hover {
            background-color: rgb(104, 127, 134);
            color: white;
        }
    }
}