.overview {
    // background-color: #A8A8A8;
    background-image: url('https://images.pexels.com/photos/87651/earth-blue-planet-globe-planet-87651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    font-size: 1.6rem;
    position: relative;

    .faked-opacity {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        // opacity: 0.75;
    }

    .header {
        width: 100%;
        min-height: 11.4rem;
        padding: 2rem 0rem;
        // background-color: darksalmon;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .navbar {
            width: 100%;
            max-width: 120rem;
            height: 100%;
            // background-color: #435faa;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }

    .main {
        width: 100%;
        min-height: 1rem;
        // border-bottom: 1px solid black;
        background-color: #d9d9d9b4;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .main-header {
            width: 100%;
            min-height: 6rem;
            background-color: #DAEEEF;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;

            .text {
                text-align: center;
            }
        }

        .content {
            width: 100%;
            max-width: 120rem;
            // width: 120rem;
            max-height: 70rem;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 1rem;

            // border: 1px solid red;
            .table {
                border: 1px solid black;
                background-color: rgb(167, 167, 167);
                border-collapse: collapse;
                width: 120rem;


                th {
                    border: 1px solid black;
                    padding: 1rem;
                    background-color: rgb(77, 187, 77);
                }

                tr {

                    &:nth-child(even) {
                        background-color: rgb(212, 212, 108);
                    }
                }

                td {
                    border: 1px solid black;
                    text-align: center;
                    padding: 0.5rem;

                }
            }

        }

        .button-container {
            padding: 1rem;
        }
    }

    // .temporary {
    //     position: relative;
    // }
}